
body{
  background: rgba(30, 141, 118, 1.0);
 
  background: -webkit-radial-gradient(circle, rgba(75, 238, 197, 1.0), rgba(34, 161, 134, 1.0), rgba(30, 141, 118, 1.0)); 
  background: -o-radial-gradient(circle, rgba(75, 238, 197, 1.0), rgba(34, 161, 134, 1.0), rgba(30, 141, 118, 1.0)); 
  background: -moz-radial-gradient(circle, rgba(75, 238, 197, 1.0), rgba(34, 161, 134, 1.0), rgba(30, 141, 118, 1.0)); 
  background: radial-gradient(circle, rgba(75, 238, 197, 1.0), rgba(34, 161, 134, 1.0), rgba(30, 141, 118, 1.0)); 
  position:relative;
}
#controls{
  float:right;
  width:200px;
  height:20px;
  font-size: 8px;

}

#game{

}

#scorePlayer1{
  clear:right;
  float:left;
  margin-left:100px;
}

#scorePlayer2{
  float:right;
  margin-right: 100px;
}

#gameBoard{
  height:780px;
  width:780px;
  margin:100px auto;
  clear:left;
 
}
/*.square{
  border:1px solid #89836E;
  height:50px;
  width:50px;
  float:left;
  text-align: center;


}*/


.location{
  border:1px solid #89836E;
  height:35px;
  width:50px;
  float:left;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding-top:15px;


}
.score{
  float:right;
  height:15px;
  width:15px;
  font-size: 12px;
  font-weight: 700;
  color:#3DB29A;
}





