#gameBoard{
  height:312px;
  width:312px;
  margin:100px auto;
  background-color: rgba(255,0,0,.5);
}
.square{
  border:2px solid #89836E;
  height:100px;
  width:100px;
  float:left;
  text-align: center;


}

.rack{
  border:1px solid black;
  width:728px;
  height:104px;
  background-color: rgba(255,0,0,.5);
  margin:0 auto;
}

.location{
  border:2px solid #89836E;
  height:65px;
  width:100px;
  float:left;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  padding-top:35px;


}
.score{
  float:right;
  height:15px;
  width:15px;
  font-size: 12px;
  font-weight: 700;
  color:#3DB29A;
}





