#gameBoard{
  height:780px;
  width:780px;
  margin:100px auto;
  background-color: rgba(255,0,0,.5);
}
.square{
  border:1px solid #89836E;
  height:50px;
  width:50px;
  float:left;
  text-align: center;


}

.rack{
  border:1px solid black;
  width:364px;
  height:54px;
  background-color: rgba(255,0,0,.5);
  margin:0 auto;
}

.location{
  border:1px solid #89836E;
  height:35px;
  width:50px;
  float:left;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding-top:15px;


}
.score{
  float:right;
  height:15px;
  width:15px;
  font-size: 12px;
  font-weight: 700;
  color:#3DB29A;
}





